body {
    font-family: 'Lora';
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/rojodigi.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway';
  }
  
  /* Scroll Personalizado */
  
  body::-webkit-scrollbar {
      width: 10px;
      background: #080808;
  }
  
  body::-webkit-scrollbar-thumb {
      background: rgba(177, 17, 25, 0.555);
      border-radius: 10px;
      border-right: 2px solid #cc1818a1;
  }
  
  p {
    line-height: 1.75;
  }
  
  .text-faded {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway';
  }
  
  .site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
  
  .page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .section-heading {
    text-transform: uppercase;
  }
  
  .section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    padding-bottom:.5rem;
  
  }
  
  .section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
  
  
  .section-heading .section-heading-under {
    display: block;
    font-size: 1rem;
    text-transform: none;
    font-weight: 300;
    margin-top:.5rem;
  }
  
  .bg-faded {
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  #mainNav {
    background-color: rgba(7, 6, 6, 0.877);
    font-family: 'Raleway';
  }
  
  #mainNav .navbar-brand {
    color: #ffffff;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
  
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
    text-decoration: underline;
  }
  
  @media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: rgba(5, 5, 5, 0.4); /*color texto del menu */
      text-decoration: underline;
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  
  .btn-xl {
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .intro {
    position: relative;
  }
  
  @media (min-width: 992px) {
    .intro .intro-img {
      width: 75%;
      float: left;
    }
    .intro .intro-text {
      left: 600;
      width: 60%;
      margin-top: 3rem;
      background-color: rgba(7, 7, 7, 0.753);
      color: cornsilk;
      position: absolute;
    }
    .intro .intro-text .intro-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .intro .intro-text {
      width: 45%;
    }
  }
  
  .cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(242, 245, 240);
  }
  
  .cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-color: rgb(7, 7, 7);
    color: cornsilk;
  }
  
  .cta .cta-inner:before {
    border-radius: 0.5rem;
    content: '';
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
  }
  
  .cta .cta-innerv {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  @media (min-width: 992px) {
    .about-heading .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1;
    }
  }
  
  @media (min-width: 992px) {
    .product-item .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .product-item .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
  
  
  
  @media (min-width: 992px) {
    .list-hours {
      width: 50%;
      font-size: 1.1rem;
    }
  }
  
  .address strong {
    font-size: 1.2rem;
  }
  
  .footer {
    background-color: rgba(7, 7, 7, 0.671);
  }
  
  
  
  .btn {
    box-shadow: 0px 3px 3px 0px rgba(41, 35, 33, 0.1);
  }
  
  
  
  .font-weight-light {
    font-weight: 100 !important;
  }
  
  .mbtm{
    padding-top: 5rem;
  }
  
  .mbt{
    padding-top: 2rem;
  }
  
  .mbt1{
    padding-top: 1.25rem;
  }
  
  a.link{
    color: rgba(243, 236, 236, 0.7);
  }
  
  a.link:hover{
    text-decoration: none;
    color: #faf9f8;
  }
  
  .section-content{
    font-family: 'Lora' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
  }
  
  ul.errorlist{
    padding-top: .75rem;
    font-style: italic;
    color: rgb(247, 241, 241);
  }
  
  .linksCategorias{
    color: white !important;
    text-decoration: underline;
  }
  
  .linksCategorias:hover{
    text-decoration: none;
  }
  
  
  
  /* Estilos para Formularios Login, Register, Logoat, Contacto */
  
  
  /*containerLogin*/
  
  .containerLogin {
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
    background-color: rgba(2, 2, 2, 0.562);
    width: 50%;
    
    
    border-radius: 5px;
    padding: 1px 0px;
  
  }
  
  @media (min-width: 576px) {
    .containerLogin {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .containerLogin {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .containerLogin {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .containerLogin {
      max-width: 1140px;
    }
  }
  
  .containerLogin-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /*"row justify-content-center pt-5 mt-5 m-1"*/
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  
  .pt-5,
  .py-5 {
    padding-top: 3rem !important;
  }
  
  .mt-5,
  .my-5 {
    margin-top: 3rem !important;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  /*col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario*/
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;
  }
  
  /* Boton Iniciar Sesion form-group mx-sm-4 pb-2 */
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .mx-sm-4 {
      margin-right: 1.5rem !important;
    }
  
  .pb-2 {
      padding-bottom: 0.5rem !important;
    }  
  
  /* PROFILE */
  .profile{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .profile img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    margin: 20px;
  }
  .profile h2{
      margin-top: -10px;
      font-size: 1.3rem;
  }
  
  /* Followers / Following / Post */
  .follow{
      display: flex;
      width: 95%;
      justify-content: space-around;
      margin: 30px auto;
      text-align: center;
      border-bottom: 2px solid #ECEEEF;
      padding-bottom: 20px;
  }
  .follow-button{
    color: white;
  }
  
  /*Media Queries*/
  @media (max-width: 786px) {
    .main {
      width: 95%;
    }
  
  }
  
  /* Boton Personalizado */
  
  .myButton {
      -moz-box-shadow:inset 0px 34px 0px -16px #f7efee;
      -webkit-box-shadow:inset 0px 34px 0px -16px #e7d1ce;
      box-shadow:inset 0px 34px 0px -16px #e21a1a;
      background-color:#fd0000d8;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border-radius:13px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Verdana;
      font-size:15px;
      font-weight:bold;
      padding:9px 23px;
      text-decoration:none;
      text-shadow:0px 2px 0px #0a0a0a;
  
    
  }
  
  /* Boton Personalizado 2 */
  
  .myBottonn {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: rgba(163, 24, 24, 0.877);
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  
  
  
  /* boto crear equipo 
  .btnagregar {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: rgba(163, 24, 24, 0.877);
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
   */
  
   .tablee{
      width: 100%;
      border-collapse: collapse;
  }
  
  .tablee td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:16px;
  }
  
  .tablee th{
      background-color: rgba(243, 14, 14, 0.397);
      color:#ffffff;
  }
  
  .tablee tbody tr:nth-child(even){
      background-color: #f5f5f5;
  }
  
  /*responsive*/
  
  @media(max-width: 500px){
      .tablee thead{
          display: none;
      }
  
      .tablee, .tablee tbody, .tablee tr, .tablee td{
          display: block;
          width: 100%;
      }
      .tablee tr{
          margin-bottom:15px;
      }
      .tablee td{
          text-align: right;
          padding-left: 50%;
          text-align: right;
          position: relative;
      }
      .tablee td::before{
          content: attr(data-label);
          position: absolute;
          left:0;
          width: 50%;
          padding-left:15px;
          font-size:15px;
          font-weight: bold;
          text-align: left;
      }
  }
  
  .home-logo {
    margin: 20px;
  }
  
  .home-logo img {
    max-width: 100%;
  }
  
  
  
  .container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  
  .container-4 input#search{
    width: 300px;
    height: 50px;
    background: #302e2e;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  
  .container-4 input#search::-webkit-input-placeholder {
     color: #495157;
  }
  
  .container-4 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
  
  .container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
  
  .container-4 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
    border: none;
    background: #facf0d;
    height: 50px;
    width: 50px;
    color: #f0e7e7;
    opacity: 0;
    font-size: 10pt;
  
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
      outline: none;
      opacity: 1;
      margin-left: -50px;
    }
  
    .container-4:hover button.icon:hover{
      background: rgb(49, 47, 47);
    }
  
    .xd {
      color: aliceblue;
    }